<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>cloth_add</title>
    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
</head>
<body>
<header th:replace="fragments :: navigator"></header>

<main role="main" class="main">
    <div class="container">
        <div class="row col-md-12 ">
            <!--<div class="col-md-12">-->
                <!--<h1 class="view-tag">Add Cloth</h1>-->
            <!--</div>-->
            <div class="col-md-12">
                <form th:action="@{/cloth/add}" method="post" th:object="${cloth}" enctype="multipart/form-data"
                      class="col-md-12 form-container">
                    <input type="hidden" th:field="*{clothId}" th:value="*{clothId}">

                    <!--CLOTH TYPE-->
                    <div class="row col-md-12 form-row-container">
                        <div class="text-in-form col-md-6">
                            <label for="clothType">Cloth Type:</label>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" th:name="clothType" id="clothType" th:field="*{clothType}"
                                    th:value="*{clothType}">

                                <option th:each="clType: ${clothTypes}" th:text="${clType}"
                                        th:value="${clType}"></option>
                            </select>
                        </div>
                    </div>

                    <!--BRAND-->
                    <div class="row col-md-12 form-row-container">
                        <div class="text-in-form col-md-6">
                            <label for="brand">Brand:</label>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" name="brand" id="brand" th:field="*{brand}">
                                <option th:each="brnd : ${brands}" th:text="${brnd.name()}" th:value="${brnd}"></option>
                            </select>
                        </div>
                    </div>

                    <!--OCCASION-->
                    <div class="row col-md-12 form-row-container">
                        <div class="text-in-form col-md-6">
                            <label for="clothType">Occasion:</label>
                        </div>
                        <div class="col-md-6">

                            <select class="form-control" name="occasion" id="occasion" th:name="occasionId">
                                <option th:each="occasionTp: ${occasionList}" th:text="${occasionTp.getOccasionName()}"
                                        th:value="${occasionTp.getOccasionId()}"></option>
                            </select>
                        </div>
                    </div>

                    <!--SEASON-->
                    <div class="row col-md-12 form-row-container">
                        <div class="text-in-form col-md-6">
                            <label for="clothType">Season:</label>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" name="season" id="season" th:name="seasonId">
                                <option th:each="seasonTp: ${seasonList}" th:text="${seasonTp.getSeasonName()}"
                                        th:value="${seasonTp.getSeasonId()}"></option>
                            </select>
                        </div>
                    </div>

                    <!--PHOTO-->
                    <div class="row col-md-12 form-row-container">
                        <div class="text-in-form col-md-6">
                            <label for="photo">Photo:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="col-md-12" type="file" id="photo" th:name="file">
                        </div>

                        <div th:if="*{getPhoto() != null}" class="row col-md-12">
                            <div class="text-in-form col-md-6">
                                <label for="photo">Current Photo:</label>
                            </div>
                            <img class="offset-2 cloth-photo"
                                 th:src="@{'data:image/png;base64,'+${cloth.convertBinImageToString()}}"
                                 alt="No photo added yet"/>
                        </div>
                    </div>

                    <!--BUTTONS-->
                    <div class="row col-md-12">
                        <div class="col-md-6">
                            <a th:href="@{${backReferer}}">
                                <button type="button" class="btn btn-danger col-md-6 offset-3">Back</button>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-success col-md-6 offset-3">Accept</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="fragments:: footer"></footer>
</main>

<div th:replace="fragments::footerscripts"></div>
</body>
</html>