<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Cloth</title>
    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
</head>
<body class="body">
<header th:replace="fragments :: navigator"></header>
<main role="main" class="main">

    <div class="row col-md-12">
        <div class="container col-md-2 cloth-filter">
            <!--FILTERS-->
            <form th:action="@{/cloth/list}" th:method="get">
                <div class="col-md-12" th:text="Filters"></div>
                <!--BRAND-->
                <div class="col-md-12">
                    <label for="brands">Brand:</label>
                    <div class="col-md-12">
                        <select th:name="brandsFilter" id="brands">
                            <option value=""></option>
                            <option th:each="brand : ${brands}"
                                    th:text="${brand.name}"
                                    th:value="${brand.brandId}"></option>
                        </select>
                    </div>
                </div>

                <!--TYPE-->
                <div class="col-md-12">
                    <label for="type">Type:</label>
                    <div class="col-md-12">
                        <select th:name="typeFilter" id="type">
                            <option value=""></option>
                            <option th:each="clType : ${clothTypes}" th:text="${clType.name}"
                                    th:value="${clType.id}"></option>
                        </select>
                    </div>
                </div>

                <!--OCCASION-->
                <div class="col-md-12">
                    <label for="occasion">Occasion:</label>
                    <div class="col-md-12">
                        <select th:name="occasionFilter" id="occasion">
                            <option value=""></option>
                            <option th:each="occas : ${occasionList}" th:text="${occas.getOccasionName()}"
                                    th:value="${occas.getOccasionId()}"></option>
                        </select>
                    </div>
                </div>

                <!--Season-->
                <div class="col-md-12">
                    <label for="season">Season:</label>
                    <div class="col-md-12">
                        <select th:name="seasonFilter" id="season">
                            <option value=""></option>
                            <option th:each="seas : ${seasonList}" th:text="${seas.getSeasonName()}"
                                    th:value="${seas.getSeasonId()}"></option>
                        </select>
                    </div>
                </div>

                <!--PRZYCISK-->
                <div class="col-md-12 btn-top-gap">
                    <button type="submit" class="btn btn-success">Filter</button>
                </div>
            </form>
        </div>

        <!--CLOTHES-->
        <div class="row container col-md-10 offset-2">
            <div class="col-md-3" th:each="cloth : ${clothList}">

                <div class="col-md-12 cloth-module">
                    <div class="row col-md-12">
                        <!--SEASON-->
                        <div th:text="${cloth.getSeason().getSeasonName().name()}"></div>
                        <!--<div class="col-md-1 offset-11" th:if="${cloth.season.inSeason()}">
                            <img class="season-logo"
                                 th:src="@{'data:image/png;base64,'+ ${cloth.getSeason().getSeasonName().convertBinImageToString()}}"
                                 alt="Logo Not Found">
                        </div>-->

                        <!--BRAND-->
                        <div class="cloth-brand col-md-12" th:text="${cloth.brand.name}"></div>
                    </div>

                    <!--PHOTO-->
                    <div class="col-md-12"><img class="col-md-12 cloth-photo" id="photo"
                                                th:src="@{'data:image/png;base64,'+${cloth.convertBinImageToString()}}"
                                                alt="Photo Not Found"/></div>
                    <!--TYPE-->
                    <div class="row col-md-12">
                        <div class="col-md-2">T:</div>
                        <div class="col-md-4" th:text="${cloth.clothType.name}"></div>
                    </div>


                    <!--OCCASION-->
                    <div class="row col-md-12 col-lg-12">
                        <div class="col-md-2">O:</div>
                        <div class="col-md-5 row" th:each="ocas : ${cloth.occasion}">
                            <div class="col-3" th:text="${ocas.occasionName}+' '"></div>
                        </div>
                    </div>
                    <div class="col-md-12 divider"></div>

                    <!--PRZYCISKI-->
                    <div class="row col-md-12 btn-top-gap">
                        <div class="col-md-1">
                            <a th:href="@{'/cloth/update/'+${cloth.getClothId()}}">
                                <button type="button" class="btn-sm btn-warning btn-sm">EDIT
                                </button>
                            </a>
                        </div>

                        <div class="col-md-1 offset-8">
                            <a th:href="@{'/cloth/delete/'+${cloth.getClothId()}}">
                                <button type="button" class="btn-sm btn-danger btn-sm"
                                        th:text="X"></button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

    <footer th:replace="fragments:: footer"></footer>
</main>
</body>
</html>