<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
</head>
<body>
<header th:replace="fragments :: navigator"></header>
<main role="main" class="main">
    <div class="container">
        <div class="row col-md-12">
            <div class="col-md-4 cloth-module">
                saads
                <!--<div class="col-md-2" th:text="${cloth.getBrand()}">BRAND</div>-->
                <!--<div class="col-md-2" th:text="${cloth.getClothType()}">CLOTH TYPE</div>-->
                <!--<div class="col-md-2" th:text="${cloth.getOccasion()}">OCCASION</div>-->
            </div>

            <div class="col-md-4 cloth-module">

            </div>
            <div class="col-md-4 cloth-module">

            </div>
        </div>


    </div>


    <footer th:replace="fragments:: footer"></footer>
</main>

<div th:replace="fragments::footerscripts"></div>
</body>
</html>