<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
    <th:block th:fragment="headerlinks">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}">
        <link rel="stylesheet" th:href="@{/style.css}">
    </th:block>
</head>

<body>
<th:block th:fragment="navigator">
    <header>

        <div class="logo col-md-12">LOGO STRONY</div>
        <div class="container topnav">
            <nav class="row col-md-12 align-items-center">
                <a th:href="@{/cloth/add}" class="col-md-4">
                    <button type="submit" class="col-md-12 btn btn-dark">Add cloth</button>
                </a>

                <a th:href="@{/cloth/list}" class="col-md-4">
                    <button type="submit" class="col-md-12 btn btn-dark">Show all</button>
                </a>

                <a th:href="@{/cloth/filter}" class="col-md-4">
                    <button type="submit" class="col-md-12 btn btn-dark">Filter</button>
                </a>
            </nav>
        </div>
    </header>
</th:block>

<th:block th:fragment="footerscripts">

</th:block>
<footer th:fragment="footer">
    <footer class="container">
        <p><a class="align-items-right" th:href="@{/}">Back to top</a></p>
    </footer>
</footer>
</body>
</html>